@font-face {
  font-family: 'arcade1';
  src: url("./Fonts/ARCADE_I.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arcade3';
  src: url("./Fonts/ARCADE_D.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'arcade3', ARCADE_D.ttf;
}

.container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
}

body {
      margin: 0;
      padding: 0;
      font-family: 'arcade1', ARCADE_I.TTF;
      background-image: url("backround.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #141414;
      background-attachment: fixed; /* This ensures the background image stays fixed while scrolling */
      color: white; /* Add this line to change the font color to white */
    }
  </style>
</head>
<body>
