@font-face {
  font-family: 'MyCustomFont';
  src: url("./Fonts/ARCADE_I.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
      margin: 0;
      padding: 0;
      font-family: 'ARCADE_I', sans-serif;
      background-image: url("backround.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-color: #141414;
      background-attachment: fixed; /* This ensures the background image stays fixed while scrolling */
      color: white; /* Add this line to change the font color to white */
    }
  </style>
</head>
<body>
