@font-face {
  font-family: 'arcade1';
  src: url("./Fonts/ARCADE_I.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'arcade3';
  src: url("./Fonts/ARCADE_R.TTF") format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

nav a {
  font-family: 'arcade3', sans-serif;
}

/* Dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-family: 'arcade1', sans-serif;
  border: none;
  outline: none;
  color: #0d0c0c;
  padding: 14px 20px;
  background-color: inherit;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #0d0c0c;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.container {
  padding: 20px;
}

.container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.game-item {
  position: relative;
  width: 100%;
}

.game-item img {
  width: 100%;
  height: auto;
}

.play-button-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-family: 'arcade3', sans-serif;
}

.play-button-overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.container {
  text-align: center;
}

.bottom-bar {
  background-color: #706f6f;
  border-top: 25px solid #706f6f;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'arcade3', ARCADE_R.ttf;
  font-family: 'arcade1', ARCADE_I.TTF;
  background-image: url("backround.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #141414;
  background-attachment: fixed; /* This ensures the background image stays fixed while scrolling */
  color: white; /* Add this line to change the font color to white */
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.game-item {
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.game-item img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.game-item h3 {
  margin: 0;
}
